html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    color: var(--text-default);
    font-family: var(--font-default);
    text-align: left;
}

.theme-dark {
    --font-default: 'Times New Roman', Times, serif;
    --text-default: #bccad8;
    --text-soft: #aab3ca;
    --text-faint: #4e5b6f;
    --text-html-link: #bf5e5e;
    --text-highlight: #7a141466;
    --text-color: #7c2929;
    --hover-highlight: rgba(168, 60, 60, 0.4);
    --list-bullet-color: #883737;
    --list-number-color: #883737;
    --list-line-color: #283846;
    --background-blockquote: #10161d;
    --border-blockquote: #252c36;
    --code-background: #232831;
    --code-text: #fa4545;
    --background-button: #7c2929;
    --border-button: #652121;
    --hvr-button: #642828;
    --active-button: #642828;
    --hr-border-line: #3c5274;
    --progress-bar-value-color: #863737;
    --progress-bar-background-color: #252c36;
    --comments: #4e5b6f;
    --footnotes: #6e7e89;
    --accent: #883737;
    --lite-accent: #e06c75;
    --accent-2: #3c5274;
    --lite-accent-2: #61afef;
    --dark-accent: #652121;
    --deep-dark-accent: #3f1010;
    --inactive: #586477;
    --background-scroll: #252c36;
    --lines: #283846;
    --outline: #cfd7dd;
    --foreground: #cfd7dd;
    --graph-lines: #571a1a;
    --graph-node: #cfd7dd;
    --graph-current-node: #fd737366;
    --graph-tags: #c14343;
    --success-bg: #32603e;
    --failure-bg: #772d2d;
    --highlight: #7a141466;
    --hvr: rgba(168, 60, 60, 0.4);
    --hvr2: var(--highlight);
    --hvr-active: rgba(212, 47, 47, 0.4);
    --background: #0b0f13;
    --background-primary: #1a1e24;
    --background-secondary: #283846;
    --background-colored: var(--dark-accent);

    --table-header-bg-color: #652121;
    --table-header-bg-color-two: #491919;
    --table-cell-bg-one: #283846;
    --table-cell-bg-two: transparent;
}

.theme-light {
    --font-default: Times, Times New Roman, serif;
}

body {
    /* background: rgb(181, 181, 181); */
    background: var(--background);
    display: flex;
    flex-direction: column;
}

button {
    background: var(--background-button);
    padding: 8px 10px;
    border: 0 none ;
    border: 1px solid var(--border-button);
    /* box-shadow: 0 4px #29190D; */
    margin: 2px;
    vertical-align: middle;
    align-content: center;
    align-self: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

button:hover {
    background: var(--hvr-button); /* Green */
}

button:active {
    background-color: var(--active-button);
    transform: translateY(4px);
}

img {
    border-radius: 10%;
    pointer-events: none
}

.portrait img {
    width: minmax(100px, 200px);
}

p {
    font-size: 11pt;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bolder;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 28pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 14pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
    vertical-align: middle;
    /* background: var(--background-secondary); */
}

.color {
    gap: 20px;
    border-collapse: separate;
    border: 2px solid var(--accent-2);
}

.color th {
    background: var(--table-header-bg-color-two);
}

.color th:nth-child(odd) {
    background: var(--table-header-bg-color);
}

.color tr {
    background: var(--table-cell-bg-one);
}

.color tr:nth-child(odd) {
    background: var(--table-cell-bg-two);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-scroll); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-accent); 
}

/* This might be a good option to put in code for variable height */
.table-container {
    overflow-y: scroll;
    /* height: 300px; */
    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    /* scrollbar-width: none;   Firefox */
}

/* .table-container::-webkit-scrollbar {
    display: none;
} */

.text-center {
    text-align: center;
}

.vert-center {
    vertical-align: middle;
    align-content: center;
    align-self: center;
}

.plus-minus-button {
    padding: 1px;
    margin-left: 4px;
    margin-right: 4px;
}

.text-left {
    text-align: left;
}

.text-small {
    font-size: 10pt;
}

.text-large {
    font-size: 14pt;
}

.text-colored {
    color: var(--text-color);
}

.text-bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

.pad-left-small {
    padding-left: 10px;
}

.underlined {
    text-decoration: underline;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.half-flex {
    flex: 50%;
}

.thirds-flex {
    flex: 33%;
}

.two-thirds-flex {
    flex: 66%;
}

.flex-start {
    align-items: flex-start;
}

.overflow-x-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-x: scroll;
}

.overflow-x-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.overflow-y-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

.overflow-y-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.margin-small {
    margin: 10px;
}

.margin-small-top {
    margin-top: 10px;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 30px;
}

.size-small {
    width: 20px;
    height: 20px;
}

.size-x-small {
    width: 15px;
    height: 15px;
}

.display-grid-1-1 {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-template-rows: 1fr;
    gap: 0px;
}

.display-grid-1-2 {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.display-grid-1-special {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    gap: 10px;
    grid-template-rows: 70% 1fr;
}

.display-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.display-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, auto);
}

.grid-c-1-2 {
    grid-column: 1 / 2;
}

.grid-c-1-3 {
    grid-column: 1 / 3;
}

.grid-c-2-3 {
    grid-column: 2 / 3;
}

.grid-c-3-4 {
    grid-column: 3 / 4;
}

.grid-c-2-4 {
    grid-column: 2 / 4; 
}

.grid-c-4-5 {
    grid-column: 4 / 5;
}

.grid-r-1 {
    grid-row: 1;
}

.grid-r-2 {
    grid-row: 2;
}

.grid-r-3 {
    grid-row: 3;
}

.sidebar {
    background: var(--background);
    left: 0px;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 40;
    overflow: scroll;
}

.sidebar ul {
}

.sidebar li {
    padding: 10px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.sidebar li > h2 {
    padding-left: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: var(--background-primary); */
    background-image: linear-gradient(to right, var(--background-colored), var(--background-primary));
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
    position: -webkit-sticky; /* For Safari*/
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 40;
}

.navbar li {
    float: left;
    padding: 10px;
}

div .name-label {
    padding: 10px;
    vertical-align: bottom;
    align-self: flex-end;
    width: minmax(auto, 128px);
}

hr {
    border: 2px solid var(--background-scroll);
}

.right {
    margin-left: auto;
}



.content {
    background-color: var(--background-primary);
}

.no-padding {
    padding: 0px;
}

.no-border {
    border: 0px;
}

.top-left-border {
    /* position: relative; */
    border: double 4px transparent;
    border-radius: 20px;
    background-image: 
    linear-gradient(var(--background-primary), var(--background-primary)), 
    radial-gradient(
        circle at top left, 
        var(--text-faint) 0%, 
        rgba(0, 0, 0, 0) 50%
    );
    z-index: 0;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.virtue-flaw-container {
    width: 100%;
    height: 70px;
    overflow-y: scroll;
}

.personality-reputation-container {
    width: 100%;
    height: 80px;
    overflow-y: scroll;
}

/* Warpping display */
.warp-circle {
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 10px outset #5C4540;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: radial-gradient(#572C5C 15%, #54185C 15%, #441C5C 70%);
}

.position-relative {
    position: relative;
}

.warp-bubble {
    position: absolute;
    top: 12px;
    left: 30px;
    width: 70px;
    height: 70px;
    border: 2px solid #572c5c48;
    background-image: radial-gradient(#a269a84b, #54185c42);
    pointer-events: none;
    transform-origin: center;
    animation: warp-bubble-anim 5s linear infinite;
    z-index: 1;
}

.warp span:nth-child(2) {
    animation-direction: reverse;
    animation-duration: 3s;
}

.warp span:nth-child(3) {
    animation-duration: 6s;
}

@keyframes warp-bubble-anim {
    0% {
        transform: rotate(0deg);
        border-radius: 68% 32% 70% 30% / 30% 30% 70% 70% ;
        transform: scale(1);
    }
    50% {
        border-radius: 22% 78% 14% 86% / 34% 75% 25% 66% ;
        transform: scale(0.8);
    }
    100% {
        transform: rotate(360deg);
        border-radius: 68% 32% 70% 30% / 30% 30% 70% 70% ;
        transform: scale(1);
    }
}

.warp-score-text {
    padding-top: 20%;
    text-align: center;
    vertical-align: text-bottom;
    font-weight: bold;
    font-size: xx-large;
    color: #A269A8;
}

.warp-points-text {
    text-align: center;
    /* vertical-align:; */
    font-weight: bold;
    font-size: medium;
    color: #A269A8;
}

.z-ind-2 {
    z-index: 2;
}